# ignore the following

*.pdf
*.pyc
*.ipynb
*.csv
*.xls*
*notes.txt
*pycache*
*.ipynb*
Output*/
Output*
Data/Annual/NotParsed/*
junk.py
deepreloader.py
refactor.py
Iter2018/
equiptests.py
backlog.txt

!data_2019/static/*