# ignore the following

*.pdf
*.pyc
*.ipynb
*.csv
*.xls*
*pycache*
*.ipynb*
output*
output*/
Data/Annual/NotParsed/*
junk.py
deepreloader.py
Iter2018/
equiptests.py
backlog.txt
README.txt
!data_2019/static/*